<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>农发福地</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-72</string>
		<string>Icon-72@2x</string>
		<string>Icon-Small</string>
		<string>Icon-Small@2x</string>
		<string>Icon-Small-50</string>
		<string>Icon-Small-50@2x</string>
		<string>iTunesArtwork</string>
		<string>iTunesArtwork@2x</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Icon-72</string>
				<string>Icon-72@2x</string>
				<string>Icon-Small</string>
				<string>Icon-Small@2x</string>
				<string>Icon-Small-50</string>
				<string>Icon-Small-50@2x</string>
				<string>iTunesArtwork</string>
				<string>iTunesArtwork@2x</string>
			</array>
		</dict>
		<key>UINewsstandIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UINewsstandBindingEdge</key>
			<string>UINewsstandBindingEdgeLeft</string>
			<key>UINewsstandBindingType</key>
			<string>UINewsstandBindingTypeMagazine</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.1942.KaSenIpad</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>农发福地</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sinaweibosso.1466866354</string>
				<string>NFFD</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>Partner</key>
	<string>2088011711861974</string>
	<key>RSA private key</key>
	<string>MIICdgIBADANBgkqhkiG9w0BAQEFAASCAmAwggJcAgEAAoGBAM0nmSfOlehqvTeqeMBSFocjaTBPvoT1MSXjSYhWbjNCe8vG/IA/pbQ0wl59ks7zlLHNyLNziyqarP2IRuZdks3HBAI1kwT7TIf1RyRA6pSRYYcKGAUED4pL2/f9VNykFsQmNA+UWqMBLsvKxAXQN54cNAiwHNJjNFHtyJ6Sa9eZAgMBAAECgYEAt78Bs9+Z8KK5esQahtZ/CuaybezejSM2s+KQl6Yh6ZNgYbGFsjBPb8nZVNxPwz/zLBVN7zxLpwsGacXHCslAk6W8jRkKUL3JaIeB5EOLRk63duGFXGPxP2jUfVARWvUWJHZiNujuKF7qH+2bc3WYFOfkvetZIMvAmOZBx0FBGmkCQQD61NYVdwyu//UGHRoRtAO75wuRaB8PNMU3d8d0uzUgviYJscMDvB92J0eve2nAxw+SLGaw+8SckZ0Aq5d0QARLAkEA0WHP7d6bdnskgrtH8WgenH6eW4s2GlZUGGU+kNuMmhTK5BaRtD8VMEktG7+mtMCuOEY35y5UOYGeeHIKYCf9KwJAV1++d1mx/F/CzW9jvljzmAfCmtMnRpe+PzUlMH9p4U77VxMp+GoWl4TVTsZxrypoPSXkW7BH67Y5d5tONbt7AwJAZ5PfbGiGt2HLefBzcnRzUC9C3z5KkVTLXRYYkUhKkZ5fj92qTmQ2cyB/9A4mxZvbk3MJDI/akmgQoLypbU/a6QJALAu/1SNg8Yvswhql9LCaACNadbyuyxfsvlY2hbgFjR8/Z8WrguzfU2muTcRsryflw0FOJ/DFYWuJOe6oY9jp9w==</string>
	<key>RSA public key</key>
	<string>MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCAerXhCK5BvxHBstcCDxnSKIrssn2ppt7ArPoj otF4XVraTxst6tzhpMGacoY1WF6jzvcQ4cWsaIesp4COGJBnsZ26Q8IwhFxwLVylKSCuCVUelrog 14EXRdxZ3GGjqhkIuLhRoGU4nim4iF44qyD60TupQLCbqesun+2mO3bcJQIDAQAB</string>
	<key>Seller</key>
	<string>2088011711861974</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
