.br_item {
	padding: 8px 0;
	border-bottom: 1px dotted #aaa;
	font-size: 13px;
	line-height: 24px;
	color: #666;
}
.brimg {
	padding: 14px 0;
}
.brt1 {
	font-size: 16px;
}
.br_title {
	float: left;
	margin-right: 28px;
}
.br_text {
	overflow: hidden;
}